.recipe__details a {
  color: gray;
}

.recipe-details__image {
  margin-top: 20px;
}

.recipe-details__image img {
  border-radius: 10px;
  height: -webkit-fill-available;
  width: 35vw;
  object-fit: cover;
}

.recipe__details {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.details--flex {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.details--flex div {
  display: flex;
  gap: 10px;
}

.title p {
  margin: 10px 0;
}

.recipe-details__content {
  width: 500px;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.recipe-details__content h3 {
  margin: 15px 0;
}

.ingredients,
.instructions {
  line-height: 2;
}

.recipe__details li {
  display: flex;
  gap: 10px;
}

.arrow img {
  margin-right: 10px;
  min-width: 8px;
  width: 20px;
}

.recipes__content {
  display: flex;
  justify-content: space-between;
}

.recipe {
  width: calc(100% / 3 - 10px);
  padding: 8px;
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.327);
}

.recipe h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe__image img {
  object-fit: cover;
  border-radius: 10px;
}

.recipe button {
  width: 100%;
  color: white;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 10px;
}

.details div {
  display: flex;
  gap: 10px;
}

.recipe p {
  margin: 10px 0;
}

@media (max-width: 800px) {
  .recipes__content {
    flex-direction: column;
  }

  .recipe__image img {
    width: 100%;
    height: 70vh;
  }

  .recipe {
    width: 100%;
  }

  .details {
    display: flex;
    gap: 15px;
  }

  .recipe__details {
    flex-direction: column;
  }

  .recipe-details__content {
    width: 100%;
  }

  .recipe-details__image img {
    width: 100%;
  }
}
